@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="login-form col-md-8 col-md-offset-2">
        <h4 class="form-title font-white margin-bottom-20">Email Confirmation</h4>
        <div class="form-group">
            <p class="font-white">
                Thank you for confirming your email.
                Please Click <a asp-controller="Account" asp-action="Login" class="font-white Underline"> <strong>here</strong> </a>to Sign In.
            </p>
        </div>
    </div>
</div>