@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @if ((bool) ViewData["EmailSent"] == true)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> Please check your email to reset your password.
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                Sending failed. Please contact our admin, and sorry for the inconvenience.
            </div>
        }
    </div>
</div>

<style>
    .control-label {
        text-align: left !important;
    }
</style>
