@{
    var additionalData = (Dictionary<string, string>)ViewBag.AdditionalData;
}
<p>Hello , <span style="margin:0;padding:0; font-weight:bold">@additionalData["Email"]</span></p>
<p>&nbsp;</p>
<i>
    Use this link to change your password. Make sure you enter the same email you use to log into the application. 
</i>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Please click on the link below to view detail:</p>
<p><a style="color:#039;text-decoration:none;margin: 0;padding: 0;" rel="nofollow" href="@additionalData["CallbackUrl"]">@additionalData["CallbackUrl"]</a></p>