@using App.Web.Models.ViewModels.Core.Business
@model ActivityCodeModelForm
@{
    ViewBag.Title = "Activity | Edit";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">Activity List</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Edit</span>
    </li>
}

<h1 class="page-title">Activity <small>Edit</small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue sbold uppercase">Activity Form</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Return to index</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="form" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="Code" class="control-label col-md-3">
                        Activity
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Code" required>
                        
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label col-md-3">
                        Description
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-6">
                        <textarea rows="3" class="form-control" asp-for="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label col-md-3">
                        SSOW Status
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="Status" required>
                            <option value="Active">Active</option>
                            <option value="Close">Close</option>
                        </select>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* Field Required</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Save</button>
                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" value="1" asp-for="Status" required>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/role/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-master-data", "#menu-activity");
            FormValidation.init("#form");
        });
    </script>
}
